html {
  height: 100%;
  font-family: sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#title {
  margin: 0;
  font-size: 1em;
}

#description {
  margin: 0;
  font-size: 0.75em;
}

#colored {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0.3em;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  animation-play-state: paused;
}

#colored::before {
  position: absolute;
  top: calc(-30in + 50%);
  left: calc(-30in + 50%);
  z-index: -1;
  height: 60in;
  width: 60in;
  margin: -0.3em;
  content: "";
  background: conic-gradient(#ff0000 0turn .25turn, #0000ff .25turn .5turn, #000000 .5turn .75turn, #f1f100 .75turn 1turn) no-repeat;
  animation: rotate 10s linear infinite;
  animation-play-state: inherit;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

#inner {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  border-radius: 7px;
}

#playPause {
  max-width: 50vh;
  min-width: 2em;
  width: 20%;
  margin: auto;
  padding: 0;
}

#playPause:hover {
  opacity: 60%;
}

#playPause:hover:active {
  opacity: 20%;
}

#playback {
  width: 100%;
  margin: auto;
  margin-left: 7px;
  margin-right: 20px;
}

#info {
  margin-top: -1.75em;
  margin-bottom: 0.25em;
  transition-duration: 500ms;
  opacity: 0;
  color: #137333;
}

#progress {
  width: 100%;
  margin: auto;
  cursor: pointer;
}

#artwork {
  max-height: 100%;
  max-width: 15%;
  margin: auto;
  margin-right: 5px;
}